# MongoDB Connection
MONGODB_URI = ''


# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# Application Configuration
PORT=3000
NODE_ENV=development

# Caching Configuration
CACHE_TTL=3600000 # 1 hour in milliseconds